<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="http" level="INFO" />
  <logger name="ca.uhnresearch.pughlab.tracker" level="DEBUG" />
  <logger name="com.google" level="INFO" />
  <logger name="org.hsqldb" level="INFO" />
  <logger name="org.springframework" level="INFO" />
  <logger name="org.apache.commons" level="INFO" />
  <logger name="org.restlet" level="INFO" />
  <logger name="com.mysema" level="INFO" />
  <logger name="sun.net" level="INFO" />
  <logger name="org.quartz" level="INFO" />
  <logger name="org.apache.shiro" level="INFO" />
  <logger name="org.atmosphere" level="INFO" />
  <logger name="org.apache.tomcat" level="INFO" />
  <logger name="org.apache.jasper" level="INFO" />
  <logger name="org.eclipse.jetty" level="INFO" />
  <logger name="org.apache.directory.api.ldap.codec" level="WARN" />

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
